@model GetCategoryByIdDto

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">Kategori Güncelleme</div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>
    <form method="post">
        <input type="hidden" asp-for="CategoryId"/>
        <div class="card-body">
            <div class="form-group">
                <label for="squareInput">Kategori Adı</label>
                <input type="text" class="form-control input-square" id="squareInput" asp-for="Name">
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" asp-for="Status">
                    <span class="form-check-sign">Durumu(Aktif mi?)</span>
                </label>
            </div>
        </div>
        <div class="card-action">
            <button class="btn btn-success">Güncelle</button>
            <a href="/Category/Index/" class="btn btn-danger">Vazgeç</a>
        </div>

    </form>
</div>

