@model GetProductByIdDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="card">
    <div class="card-header">
        <div class="card-title">Yeni Ürün Kayıt</div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>
    <form method="post">
        <input type="hidden" asp-for="ProductId"/>
        <div class="card-body">
            <div class="form-group">
                <label for="squareInput">Ürün Adı</label>
                <input type="text" class="form-control input-square" id="squareInput" asp-for="Name">
            </div>
            <div class="form-group">
                <label for="squareInput">Ürün Fiyatı</label>
                <input type="text" class="form-control input-square" id="squareInput" asp-for="Price">
            </div>
            <div class="form-group">
                <label for="squareInput">Ürün Kategorisi</label>
                <select class="form-control input-square" asp-for="CategoryId">
                    <option>Kategori Seçiniz</option>
                    @foreach (var item in ViewBag.categories)
                    {
                        <option value="@item.CategoryId">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="squareInput">Ürün Göreseli</label>
                <input type="text" class="form-control input-square" id="squareInput" asp-for="ImageUrl">
            </div>
            <div class="form-group">
                <label for="squareInput">Ürün Açıklama</label>
                <textarea class="form-control input-square" cols="5" rows="5" asp-for="Description"></textarea>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" asp-for="Status">
                    <span class="form-check-sign">Durumu(Aktif mi?)</span>
                </label>
            </div>
        </div>
        <div class="card-action">
            <button class="btn btn-success">Kaydet</button>
            <a href="/Product/Index/" class="btn btn-danger">Vazgeç</a>
        </div>

    </form>
</div>


