@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("UILayoutHeadComponentPartial")
<body >

    @await Component.InvokeAsync("UILayoutNavbarComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("UILayoutFooterComponentPartial")
    @await Component.InvokeAsync("UILayoutScriptsComponentPartial")
</body>

</html>