@model GetNotificationByIdDto
@{
    ViewData["Title"] = "UpdateNotification";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="card-title"> Bildirim Güncelle</div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>
    <form method="post">
        <div class="card-body">
            <input type="hidden"/>
            <div class="form-group">
                <label for="squareInput">Bildirim Türü</label>
                <input type="text" class="form-control input-square" id="squareInput" asp-for="Type">
            </div>
            <div class="form-group">
                <label for="squareInput">Bildirim İkon</label>
                <input type="text" class="form-control input-square" id="squareInput" asp-for="Icon">
            </div>
            <div class="form-group">
                <label for="squareInput">Bildirim Açıklama</label>
                <input type="text" class="form-control input-square" id="squareInput" asp-for="Description">
            </div>

        </div>
        <div class="card-action">
            <button class="btn btn-success">Güncelle</button>
            <a href="/Notification/Index/" class="btn btn-danger">Vazgeç</a>
        </div>

    </form>
</div>

